.imagen-landing1 {
  width: 260px!important;
  height: auto!important;
}

.imagen-landing2 {
  width: 230px!important;
  height: auto!important;
}

.imagen-landing3 {
  width: 230px!important;
  height: auto!important;
}

.icono-seccion1-1, .icono-seccion1-2, .icono-seccion1-3 {
  margin-right: 15px;
}

.icono-seccion1-1 {
  color: #3d8db5;
}

.icono-seccion1-2 {
  color: #d2312c;
}

.image-table {
  width: 100px!important;
}
/* TABLA PRECIOS */

#pricing-table {
	display: flex;
  justify-content: center;
	text-align: center;
	width: 100%;
}

#pricing-table .plan {
	font: 10px "open sans";
	text-shadow: 0 1px rgba(255,255,255,.8);
	background: #fff;
	border: 1px solid #ddd;
	color: #333;
	padding: 20px;
	width: 290px;
	float: left;
	position: relative;
}

#pricing-table #most-popular {
	z-index: 2;
	top: -13px;
	border-width: 1px;
	padding: 30px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 20px 0 10px -10px rgba(181,159,61,0.4), -20px 0 10px -10px rgba(181,159,61,0.4);
	-webkit-box-shadow: 20px 0 10px -10px rgba(181,159,61,0.4), -20px 0 10px -10px rgba(181,159,61,0.4);
	box-shadow: 20px 0 10px -10px rgba(181,159,61,0.4), -20px 0 10px -10px rgba(181,159,61,0.4);
}

#pricing-table .plan:nth-child(1) {
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

#pricing-table .plan:nth-child(4) {
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

/* --------------- */

#pricing-table h3 {
	font-size: 20px;
	font-weight: normal;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: #e1d9b1;
	background-image: -moz-linear-gradient(#fff,#e1d9b1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e1d9b1));
	background-image: -webkit-linear-gradient(#fff, #e1d9b1);
	background-image: -o-linear-gradient(#fff, #e1d9b1);
	background-image: -ms-linear-gradient(#fff, #e1d9b1);
	background-image: linear-gradient(#fff, #e1d9b1);
}

#pricing-table #most-popular h3 {
	background-color: #fff;
	background-image: -moz-linear-gradient(#e1d9b1,#fff);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1d9b1), to(#ddd));
	background-image: -webkit-linear-gradient(#e1d9b1, #fff);
	background-image: -o-linear-gradient(#e1d9b1, #fff);
	background-image: -ms-linear-gradient(#e1d9b1, #fff);
	background-image: linear-gradient(#e1d9b1, #fff);
	margin-top: -30px;
	padding-top: 30px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

#pricing-table .plan:nth-child(1) h3 {
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
}

#pricing-table .plan:nth-child(4) h3 {
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

#pricing-table h3 span {
	display: block;
	font: bold 24px/100px "open sans";
	color: #777;
	background: #fff;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	margin: 10px auto -65px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #fff inset;
	-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

#pricing-table ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

#pricing-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
  font-size: 14px;
}

.primera-categoria {
  border-top: none!important;
}

/* --------------- */

#pricing-table .signup {
	position: relative;
	padding: 8px 20px;
	margin: 20px 0 0 0;
	color: #fff;
	font: bold 14px "open sant";
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	background-color: #C4B264;
	background-image: -moz-linear-gradient(#C4B264, #e1d9b1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#C4B264), to(#e1d9b1));
	background-image: -webkit-linear-gradient(#C4B264, #e1d9b1);
	background-image: -o-linear-gradient(#C4B264, #e1d9b1);
	background-image: -ms-linear-gradient(#C4B264, #e1d9b1);
	background-image: linear-gradient(#C4B264, #e1d9b1);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

#pricing-table .signup:hover {
	background-color: #e1d9b1;
	background-image: -moz-linear-gradient(#e1d9b1, #C4B264);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1d9b1), to(#C4B264));
	background-image: -webkit-linear-gradient(#e1d9b1, #C4B264);
	background-image: -o-linear-gradient(#e1d9b1, #C4B264);
	background-image: -ms-linear-gradient(#e1d9b1, #C4B264);
	background-image: linear-gradient(#e1d9b1, #C4B264);
}

#pricing-table .signup:active, #pricing-table .signup:focus {
	background: #e1d9b1;
	top: 2px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
}

/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}
